*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* width: 100%;
    height: auto; */
}

body{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main{
    background-color: #000000e9;
    height: 900px;
}

nav{
    display: flex;
    justify-content: center;
}

.nav_list{
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: 0px 200px 0px 300px;
}

.nav_list li{
    margin: 20px;
}

.dv{
    display: flex;
    align-items: center;
}

i{
    color: white;
    margin-left: 15px;
}

#bt_text{
    position: relative;
    left: 20px;
    bottom: 25px;
}


.first_btn{
    color: white;
    margin: 30px 0px 0px 40px;
}

.content{
    display: flex;
}

.l_ctn{
    margin-top: 85px;
    padding-left: 140px;
}

#h_1{
    margin-bottom: 30px;
    font-size: 80px;
    width: 900px;
    font-weight: 400;
}

#sp_an{
    color: #ec08e8;
    font-weight: 700;
}

#p_{
    font-size: 23px;
    color: lightgrey;
    width: 650px;
    margin-bottom: 60px;
}

.btn_two{
    display: flex;
    margin-bottom: 40px;
}

#btn_pink{
    width: 70px;
}

#h_3{
    position: relative;
    right: 38px;
    font-weight: 400;
    font-size: 25px;
}

.user_div{
    display: flex;
}

#backcards{
    position: absolute;
    right: 70px;
    height: 650px;
}

.left_user{
    display: flex;
    align-items: center;
}

#frontcards{
    height: 650px;
}

._h2_{
    font-size: 43px;
    font-weight: 400;
    margin-right: 20px;
}

.spa_n{
    color: #ec08e8;
}

.us_er{
    font-weight: 400;
    margin-right: 40px;
}

#u-ser{
    font-weight: 400;
}

#h_2{
    margin-left: 40px;
}

.right_user{
    display: flex;
    align-items: center;
}

.logos{
    background-color: #3f3e3e;
    height: 200px;
}

.f_div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    margin: 0px 100px;
}

.sec_2{
    height: 800px;
    background-color: #000000e9;
}

.div_two{
    display: flex;
    justify-content: center;
}

#head{
    margin: 50px;
    font-size: 50px;
}

#h1_{
    margin: 50px;
    font-size: 50px;
    width: 500px;
}

#p_tag{
    width: 295px;
    margin: 100px;
    color: lightgrey;
}

.div_block{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    gap: 20px;
}

.img_box{
    background-color: #3f3e3ec3;
    width: 205px;
    height: 205px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    border: 1px solid lightgrey;
}

#bcg_{
    background-color: #636060;
}

.bo_x{
    margin-top: 50px;
}

.small_img{
    height: 100px;
    width: 100px;
}

.h_4{
    font-weight: 500;
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
}

.sec_tion{
    background-color: #fcf0f2;
}

.div_three{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#heading{
    color: black;
    font-size: 50px;
    font-weight: 500;
    margin-top: 60px;
}

#head_two{
    color: #ec08e8;
    font-size: 50px;
}

#paragraph{
    color: #000058;
    text-align: center;
    margin-top: 40px;
}

#vcards{
    height: 600px;
}
