*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 1440px;
    background-color: #F0F4F5;
    margin: auto;
}

nav{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
   display: flex ;
   align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 50px;
    font-weight: 600;
}

nav ul li:first-child{
    color: #039103;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

main section{
    width: 50%;
}

.leftsec{
    margin-left: 5%;
    position: relative;

}

.topangle{
    width: 25px;
}

.leftsec h1{
    font-size: 70px;
}

.leftsec p{
    color: #808080;
    font-size: 18px;
    margin: 20px 0;
}

.bottomangle{
    width: 25px;
    position: absolute;
    right: 25px;
}

.stethoscope{
    position: absolute;
    width: 90%;
    top: -65px;
    right: -25px;
    z-index: -1;
}

.mouse{
    position: absolute;
    right: -30px;
    bottom: 0;
    width: 30px;
}

.leftsec button{
    color: white;
    background-color: #02a502;
    padding: 15px 40px;
    border: none;
    border-radius: 40px;
    font-size: 25px;
}

.green,  .yellow{
    position: absolute;
    right: 0;
}

.green{
    width: 35%;
    bottom: 30px;

}

.yellow{
    width: 30%;
    bottom: 50px;
}

.doctor{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 90%;
}